[Desktop Entry]
Type=Application

Name[ar]=Xournal++‎
Name[ca]=Xournal++
Name[de]=Xournal++
Name[es]=Xournal++
Name[eu]=Xournal++
Name[fr]=Xournal++
Name[hu]=Xournal++
Name[it]=Xournal++
Name[ja]=Xournal++
Name[pl]=Xournal++
Name[pt_BR]=Xournal++
Name[ro]=Xournal++
Name[sl_SI]=Xournal++
Name[tr]=Xournal++
Name[uk_UA]=Xournal++
Name[zh]=Xournal++
Name=Xournal++
GenericName[ca]=Aplicació de presa de notes
GenericName[de]=Notizen-App
GenericName[es]=Aplicación de toma de notas
GenericName[eu]=Oharrak hartzeko aplikazioa
GenericName[fr]=Application de prise de notes
GenericName[hu]=Jegyzetkészítő alkalmazás
GenericName[it]=Applicazione per prendere appunti
GenericName[ro]=Aplicație de luat notițe
GenericName[zh]=笔记应用程序
GenericName=Note-taking application
Comment[ar]=كتابة ملاحظات باليد
Comment[ca]=Pren notes a mà
Comment[de]=Handschriftliche Notizen
Comment[es]=Tomar notas manuscritas
Comment[eu]=Hartu oharrak eskuz
Comment[fr]=Prendre des notes manuscrites
Comment[hu]=Készítsen kézzel írott jegyzeteket
Comment[it]=Prendi note scritte a mano
Comment[pt_BR]=Tomar notas manuscritas
Comment[ro]=Ia notițe scrise de mână
Comment[ru]=Делайте рукописные заметки
Comment[sl_SI]=Beležka na roke
Comment[tr]=Elle yazılmış notlar al
Comment[zh]=手写笔记
Comment=Take handwritten notes
Keywords[ar]=tablet;Wacom;pen input;PDF Annotation;markup
Keywords[ca]=tablet;Wacom;pen input;PDF Annotation;markup
Keywords[de]=Tablet;Wacom;Stifteingabe;PDF beschriften;Markup
Keywords[es]=tablet;Wacom;pen input;PDF Annotation;markup
Keywords[eu]=tableta;Wacom;arkatz bidezko sarrera;PDF oharpena;markup
Keywords[fr]=tablette;Wacom;pen input;PDF Annotation;markup
Keywords[hu]=táblagép;Wacom;toll bemenet;PDF megjegyzés;jelölés
Keywords[it]=tablet;Wacom;input penna;annotazione PDF;markup
Keywords[pt_BR]=tablet;Wacom;pen input;Anotação PDF;markup
Keywords[ro]=tabletă;Wacom;scrie cu creionul;Însemnări pe PDF;marcare
Keywords[ru]=планшет;Wacom;ввод ручкой;PDF Аннотации;разметка
Keywords[sl_SI]=tablica;Wacom;vnos s peresom;komentar PDF;označevanje
Keywords[tr]=tablet;Wacom;kalem;girdi;PDF;Açıklama;Notlandırma;işaretleme
Keywords[zh]=使用平板、数位板、笔输入；PDF注释；标记
Keywords=tablet;Wacom;pen input;PDF Annotation;markup

Exec=xournalpp-wrapper %f
SingleMainWindow=false
StartupWMClass=com.github.xournalpp.xournalpp
Terminal=false
StartupNotify=true
MimeType=application/x-xoj;application/x-xojpp;application/x-xopp;application/x-xopt;application/pdf
Icon=com.github.xournalpp.xournalpp
Categories=Office;GNOME;GTK
